html{
	width: 100%;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}

.navbar-brand img {
	width: 150px;
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
}
}

.banner {
	margin-top: 76px;
}
.banner .container-fluid {
	padding:0!important;
}

.carousel-item{
	width: 1200PX;
	height: 550PX;
}
.about {
	padding:100px 0;
	background:linear-gradient(#ffffff,#FFDCDC); 
}

.about img {
	box-shadow:2px 2px 4px gray;
	margin-right: 100px; 
}
.about img .container-fluid {
	padding:0!important;
}
.title {
	font-size:20px;
	font-weight: bold;
}

.title_line {
	border-color:#ffffff;
}

.story {
	padding: 40px 0;
	font-size: 20px;
}

.story p{
	font-size: 20px;
}

.story span {
	font-style: italic;
	font-size: 30px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.title_line {
	margin-bottom: 50px;
}

.works {
	width: 100%;
	background-color: #FFDCDC;
	padding-bottom:70px;
}
.about-lists {
  padding: 40px;
}

.about-lists .row {
  overflow: hidden;
}

.about-lists .content-item {
  padding: 40px;
  border-left: 1px solid #4EB5FF;
  border-bottom: 1px solid #4EB5FF;
  margin: -1px;
}

.about-lists .content-item span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #4EB5FF;
  padding-left: 20px;
}

.about-lists .content-item h4 {
  font-size: 28px;
  font-weight: 400;
  padding: 20px;
  margin: 20px 0;
}

.about-lists .content-item p {
  color: #7D7D7D;
  font-size: 15px;
  margin: 0;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .about-lists .content-item {
    padding: 40px 0;
  }
}

.pic {
	margin-top: 76px;
}
.pic .container-fluid {
	padding:0!important;
}

.products{
	background-color: #FFDCDC;
}
.pro img{
	width: 380px;
	margin-left: -20px;
}
.pro2{
	margin-top: 100px;
	margin-bottom: 30px;
}

.pic2{
	margin-top: 20px;
	margin-bottom: 25px;
}
.contact {
	height:750px;
	padding-top: 100px;
	background-image: url(../img/back1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	color:#ffffff;
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #FFC7C7;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color: #FFA7A7;
}

footer {
	background-color: #EE9090;
	padding:20px 0; 
}

footer p {
	margin: auto;
	line-height: 39px;
	font-size: 15px;
}

.about-img{
	width: 100%;
}